<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWp-eIiFxbapyn6-FT1J1vK52n4PTCSAg</string>
	<key>GCM_SENDER_ID</key>
	<string>542237732405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merck.ocb</string>
	<key>PROJECT_ID</key>
	<string>mms-test-rnapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mms-test-rnapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542237732405:ios:1fb9f6b3e8d2bf1149cb7c</string>
</dict>
</plist>